body {
  font-family: 'Roboto', sans-serif;
  background-image: url('../../assets/images/cloudy-day.png');
}

* {
  box-sizing: border-box;
}

#start {
  padding: 50px;
}

#game {
  text-align: center;
  height: 800px;
  margin: 0 50px;
}

.panel-default,
#questions,
#answers {
  background-image: url('../../assets/images/ricepaper2.png');
}

#title {
  background-color: #20B2AA;
  color: #ffffff;
}
